button {
    padding: 20px;
    background-color: #72BFC5;
    border: 2px solid rgb(90, 12, 83);
    color: black;
    margin: 10px;

}

.vh-100 {
    background-color: #72BFC5;
}

.nev {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-align: center;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }